<h1>Visualize your life in 5 years - what do you see?</h1>

<%= form_with(url: '/fiveyeargoals/submit', method: 'post') do |form| %>
  <%= form.label :vision %>
  <%= form.text_field :vision %>

  <%= form.submit 'Save & Continue' %>
<% end %>
