// Define variables for your color scheme

// For example:
$softblue: #64A4F4;
$softblue-dark: #2376C1;
$softblue-light: #9AD5FF;
$softred: #F57B6E;
$softred-dark: #BD4A42;
$softred-light: #FFAB9B;
$white: #FFFFFF;
$darkgreen: #143434;
