// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&family=Noto+Serif+JP:wght@200&display=swap');

// Define fonts for body and headers
$body-font: "Inter", "Work Sans", "Helvetica", "sans-serif";
$headers-font: "Inter", "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  color: #64A4F4;
}

h2 {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #143434;
}

h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #143434;
}

h4 {

  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #143434;
}
