body.community {
  background: url('community.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

.community-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 20px 20px 40px rgba(20, 52, 52, 0.15);
  border-radius: 5px;
  z-index: 9999;
}

.community-navbar-image {
  border-radius: 50%;
  width: 5em;
  height: 5em;
  object-fit:cover;
  display: flex;
  justify-content: center;
}

.community-navbar-button-blue {
  color: white;
  border-radius: 8px;
  font-weight: 600;
  background: linear-gradient(#9AD5FF, #64A4F4);
  transition: background 0.3s ease;
  border: 1px solid #64A4F4;
  margin: 4px;
}

.community-navbar-button-red {
  color: white;
  border-radius: 8px;
  font-weight: 600;
  background: linear-gradient(#FFAB9B, #F57B6E);
  transition: background 0.3s ease;
  border: 1px solid #F57B6E;
  margin: 4px;
}

.community-navbar-button-white {
  color: white;
  border-radius: 8px;
  font-weight: 600;
  border: 1px solid #64A4F4;
  color: #64A4F4;
  margin: 4px;
}

.community-navbar-button-blue:hover {
  background: linear-gradient(#2376C1, #64A4F4);
  color: white;
}

.community-navbar-button-red:hover {
  background: linear-gradient(#F57B6E, #FFAB9B);
  color: white;
}

.community-navbar-button-white:hover {
  background:#64A4F4;
  color: white
}
