body.community {
  background: url('community.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
}

.community-navbar {
  position: fixed;
  left: 0;
  top: 0;
  width: 280px;
  height: 100%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 8px 8px 16px rgba(20, 52, 52, 0.15);
  border-radius: 5px;
  z-index: 9999;
}

.community-navbar-image {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  object-fit:cover;
  display: flex;
  justify-content: center;
}

.community-button-red {
  color: white;
  border-radius: 8px;
  font-weight: 600;
  background: linear-gradient(#FFAB9B, #F57B6E);
  border: 1px solid #F57B6E;
  margin: 4px;
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.community-button-red:hover {
  color: white;
  background: linear-gradient(#F57B6E, #FFAB9B);
}

.community-button-blue {
  color: white;
  border-radius: 8px;
  font-weight: 600;
  background: linear-gradient(#9AD5FF, #64A4F4);
  border: 1px solid #64A4F4;
  margin: 4px;
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}

.community-button-blue-selected {
  background: #2376C1;
}

.community-content {
  margin-left: 300px;
}

.goal-list {
  box-shadow: 8px 8px 16px rgba(20, 52, 52, 0.15);
  border-radius: 8px;
  margin-right: 350px;
  margin-top: 20px;
  padding: 10px;
  max-height: 500px;
  overflow-y: scroll;
}

.goal-card {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(20, 52, 52, 0.15);
  margin-right: 40px;
  margin-bottom: 5px;
  padding: 5px;
}

.goal-card p {
  margin: 0;
  font-weight: 300;
}
