body.fiveyear {
  background: url('fiveyear.png') no-repeat center center fixed;
  object-fit: scale-down;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
