body.fiveyear {
  background: url('fiveyear.png') no-repeat center center fixed;
  object-fit: scale-down;
}

body.new_quarterly {
  background: url('wizard_quarterly.png') no-repeat center center fixed;
  object-fit: scale-down;
}

body.new_yearly {
  background: url('wizard_yearly.png') no-repeat center center fixed;
  object-fit: scale-down;
}
