// Specific CSS for your home-page
body.home{
  background: url('bg_home.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items:  left;
  gap: 16px;
}

.innerinfo-h {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-top: 100px;
  margin-left: 100px;
}

.innerinfo-t {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  margin-left: 100px;
}

.btn-container {
  display: flex;
  align-items: space-around;
  gap: 25px;
  margin-top: 80px;
}
