// Specific CSS for your home-page
.info {
  background-image: url('background_test.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px;
}

.innerinfo {
  max-width: 500px;
}
.main {
  // position: absolute;
  // background-color: red;
}

.secondary{

}

.long {
  padding: 10px 33px;
}

.inspiration {
  width: 371px;
  height: 39px;
  left: 626px;
  top: 1021px;
  background: #F57B6E;
  transition: none;
}

.all-testimonial {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  width: 100%;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 23px 21px;
  gap: 29px;

  position: relative;
  width: 371px;
  height: fit-content;

  background: #FFFFFF;
  box-shadow: 15px 10px 40px rgba(20, 52, 52, 0.25);
  border-radius: 8px;
}

.link {
  display: flex;
  justify-content: center;
}

.image-circle {
  border-radius: 50%;
  width: 126px;
  height: 126px;
  object-fit: cover;
}
