body.dashboard {
  background: url('background_dashboard.png') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  position: relative;
  margin:0;
}
.container-fluid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0;
  // height: 100%;
  visibility: initial;
}

.dashboard-container{
  margin-left: 38vh;
  top: 0;
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  justify-content: center;
}

.dashboard-content {
  display: flex;
  margin-left: 40vh;
  flex-direction: column;
  gap: 16px;
  // padding: 2vh;
  text-decoration: none;
  // margin-top: 10.5vh;
}

#blue-p {
  color: #64A4F4;
}

.logout {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  padding: 15px 16px;
  gap: 8px;
  height: 57px;
}
