<body class="new_quarterly">
  <div class="goal-form">
    <%= form_with url: "yearlygoals/:yearlygoal_id/quarterlygoals", method: 'post' do |form| %>
      <div class="question-box">
        <h1 class="goal-form-title">New Quarterly Goals</h1>
          <% 3.times do |i| %>
            <div>
              <%= form.text_field "quarterlygoals[#{i}][title]" , class: "answer-box", required: true, placeholder: "Quarterly goal title #{i + 1}"%>
            </div>
              <div>
                <%= form.text_area "quarterlygoals[#{i}][description]", class: "answer-box", required: true, placeholder: "Goal Description #{i +1}"%>
              </div>
          <% end %>
            <%= form.submit "Save & Continue", class: "btn btn-blue" %>
        </div>
      <% end %>
  </div>
</body>
