<div>
  <h1 class="main">Your life goal setting concierge</h1>
  <h2 class="secondary">Find out where you want to go in life and set ambitious and actionable 5-year goals</h2>
</div>
<%= link_to 'Start your journey', '/users/sign_up', class: 'btn btn-blue long' %>
</div>

<div class= 'banner-soft-red-bottom'>
  <div class='all-testimonial'>
 <div class="testimonial">
      <p><i>One of my five year goals is to complete one Ironman Triathlon and finish in the first 100!</i></p>
      <p>Sandra, 28, doesn't know how to swim</p>
  </div>
  <div class="testimonial">
      <h3>"I always wanted to start being more thoughtful about my physical exercises, that's when I found Goalgetter"</h3>
      <h4>Laura, 27</h4>
  </div>
  <div class="testimonial">
      <h3>"I always wanted to start being more thoughtful about my physical exercises, that's when I found Goalgetter"</h3>
      <h4>Laura, 27</h4>
  </div>
  </div>
  <div>
    <%= link_to "Find inspiration", "/inspiration", class: "btn btn-red inspiration" %>
  </div>
</div>
