<div style="text-align: right; margin-right: 200px;">
  <h1 style="color: #64A4F4; font-family: 'Inter'; font-weight: 700;">Inspiration</h1>
  <h2 style="color: #143434; font-family: 'Inter'; font-weight: 600;">Stories from fellow Goalgetters</h2>
</div>

<div class="banner"></div>

<div class="card_container">
  <div class="card_inspiration">
    <div class="image-container">
      <%= cl_image_tag("testimonial1.png", width: 381, height: 384, crop: :fill) %>
      <div class="image-overlay"></div>
    </div>
    <div class="container">
      <h3>"I always wanted to start being more thoughtful about my physical exercises, that's when I found Goalgetter"</h3>
      <h4>Laura, 27</h4>
    </div>
  </div>

  <div class="card_inspiration">
    <div class="image-container">
      <%= cl_image_tag("testimonial2.png", width: 381, height: 384, crop: :fill) %>
      <div class="image-overlay"></div>
    </div>
    <div class="container">
      <h3>"I always wanted to start being more thoughtful about my physical exercises, that's when I found Goalgetter"</h3>
      <h4>Laura, 27</h4>
    </div>
  </div>

  <div class="card_inspiration">
    <div class="image-container">
      <%= cl_image_tag("testimonial3.png", width: 381, height: 384, crop: :fill) %>
      <div class="image-overlay"></div>
    </div>
    <div class="container">
      <h3>"I always wanted to start being more thoughtful about my physical exercises, that's when I found Goalgetter"</h3>
      <h4>Laura, 27</h4>
    </div>
  </div>
</div>

<div style="text-align: center;">
  <%= link_to "Start your journey", new_user_registration_path, class: "btn btn-blue" %>
</div>
