<h1>Inspiration</h1>

<div class="card_container">
  <div class="card_inspiration">
    <div class="image-container">
      <%= cl_image_tag("testimonial1.png", width: 381, height: 384, crop: :fill) %>
      <div class="image-overlay"></div>
    </div>
      <p>I always wanted to start being more thoughtful about my physical exercises, that's when I found Goalgetter</p>
  </div>

  <div class="card_inspiration">
    <div class="image-container">
      <%= cl_image_tag("testimonial2.png", width: 381, height: 384, crop: :fill) %>
      <div class="image-overlay"></div>
    </div>
      <p>I always wanted to start being more thoughtful about my physical exercises, that's when I found Goalgetter</p>
  </div>

  <div class="card_inspiration">
    <div class="image-container">
      <%= cl_image_tag("testimonial3.png", width: 381, height: 384, crop: :fill) %>
      <div class="image-overlay"></div>
    </div>
    <p>I always wanted to start being more thoughtful about my physical exercises, that's when I found Goalgetter</p>
  </div>
</div>
