.goal-form {
  width: 74vh;
  height: 87vh;
  overflow-y: scroll;
  background-color: white;
  display: inline-block;
  margin-left: 14vh;
  opacity: 0.95;
  box-shadow: 20px 20px 40px rgba(20, 52, 52, 0.15);
  padding: 32px;
  border-radius: 8px;
}

.question-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.goal-form-title {
  font-size: 24px;
  font-weight: bold;
  color: #143434;
}

.answer-box {
  @extend .form-control;
  border-radius: 8px;
  border: 1px solid #64A4F4;
}

.form-row {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
