@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.goal-form {
  // Your shared styles for all goal forms
}

.goal-form-title {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: black;
}

.question-box {
  width: 417px;
  height: 810px;
  border: 1px solid lightblue;
  margin-left: 25px;
  margin-top: 25px;
  background-color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-radius: 8px;

}

.form-group {
  margin-bottom: 16px;
}

.btn-primary {
  margin-top: 16px;
}

.answer-box {
  @extend .form-control;
  border-radius: 8px;
  border: 1px solid lightblue;
}

.container {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  height: 100%;
  margin-left: 300px;
}
