.progressbar-small {
  background-color: white;
  border: 1px solid #FFAB9B;
  padding: 0;
  border-radius: inherit;
  height: 13vh;
  width: 24px;
  display: flex;
  flex-direction: column-reverse;
}

.progress-small {
  background-color: #FFAB9B;
  padding: 0%;
  border-radius: 7px;
  height: 0%;
}


.progressbar-tall {
  background-color: white;
  border: 1px solid #2376C1;
  padding: 0;
  border-radius: inherit;
  height: 6vh;
  width: 136vh;
  display: flex;
  flex-direction: row;
  border-radius: 7px;
}

.progress-tall {
  background-color: #2376C1;
  padding: 0%;
  border-radius: 4px;
  height: 5,5vh;
  width: 26%;
  display: flex;
  justify-content: left;
  align-items: center;
}

#yearly {
  border: 1px solid #BD4A42;
}

#yearly-progress {
    background-color: #BD4A42;
}

#quarterly {
  border: 1px solid #FFAB9B;
}

#quarterly-progress {
  background-color: #FFAB9B;
}

#weekly {
  border: 1px solid #64A4F4;;
}

#weekly-progress {
  background-color: #64A4F4;;
}
