.card-signin {
  max-width: 600px;
  margin-top: 14vh;
  margin-left: 14vh;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 20px 20px 40px rgba(20, 52, 52, 0.15);
  opacity: 0.95;
}

.card-signup {
  max-width: 600px;
  // margin-top: 10vh;
  margin-left: 14vh;
  padding: 2vh;
  background-color: white;
  border-radius: 8px;
  box-shadow: 20px 20px 40px rgba(20, 52, 52, 0.15);
  opacity: 0.95;
}

.card-header {
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  margin-bottom: 20px;
}

.card-footer {
  background-color: white;
}

.card-footer a {
  color: #666;
  text-decoration: none;
}

.card-footer a:hover {
  text-decoration: underline;
}

.background-image-signup {
  background: url("signin2.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  margin:0;
}

.background-image-signin {
  background: url("signin2.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  width: 100%;
  margin:0;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.upload-photo {
  margin-top: 20px;
  border: 1px solid #d3d3d3;
  padding: 8px 192px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 8px;
}

.input-field {
  border-radius: 8px;
}

.dashboard-content-sign {
  display: flex;
  flex-direction: row;
  justify-content: left;
  // height: 100%
}
